@import "tailwindcss";

:root {
  --primary-color: #1a1a23; /* Dark Gray */
  --secondary-color: #f0f0f0; /* Light gray for backgrounds */
  --text-color: #white; /* White for text */
  --accent-color: #ffb700; /* Orange for accents */
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.particle-deconstruct-element {
        background: var(--primary-color);
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease;
        flex: 0 0 auto;
      }

      .particle-deconstruct-element h2 {
        position: absolute;
        z-index: 2;
        font-size: 1.25rem;
        color: white;
        transition: all 0.5s ease;
        opacity: 0;
        pointer-events: none;
        text-align: center;
        max-width: 80%;
        line-height: 1.5;
      }

      .particle-deconstruct-element img {
        transition: all 0.5s ease;
        z-index: 10;
      }

      .particle-deconstruct-element::before,
      .particle-deconstruct-element::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeating-radial-gradient(
          circle at center,
          var(--accent-color) 1px,
          transparent 2px,
          transparent 50px
        );
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 1;
      }

      .particle-deconstruct-element:hover img {
        transform: scale(1.5) rotate(360deg);
        opacity: 0;
      }

      .particle-deconstruct-element:hover h2 {
        opacity: 1;
        transform: scale(1.1);
      }

      .particle-deconstruct-element:hover::before {
        transform: scale(2) rotate(45deg);
        opacity: 0.3;
      }

      .particle-deconstruct-element:hover::after {
        transform: scale(2) rotate(-45deg);
        opacity: 0.3;
      }



      .help {
    cursor: help;
    background: linear-gradient(145deg, #2a2a2a, #383838);
    border: 2px solid var(--accent-color);
}
.help:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px #00bcd450;
}