@import "tailwindcss";

:root {
  --primary-color: #1a1a23; /* Dark Gray */
  --secondary-color: #f0f0f0; /* Light gray for backgrounds */
  --text-color: #white; /* White for text */
  --accent-color: #ffb800; /* Orange for accents */
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
